<mat-card>
  <mat-card-content>
    <div style="text-align: center;">
    <h2>To-Do List</h2>

    <mat-form-field>
      <input matInput [(ngModel)]="newTodo" placeholder="task...">
      <button mat-icon-button matSuffix name="Add" (click)="addTodo(newTodo)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>

    <div style="text-align: left;">
    <mat-list>
      <!-- *ngFor is a for loop that iterates through all the todos -->
      <mat-list-item *ngFor="let todo of todos">
        <mat-checkbox [(ngModel)]="todo.complete">{{todo.name}}</mat-checkbox>
        <button mat-icon-button color="warn" name="Delete" (click)="deleteTodo(todo)">
          <mat-icon>delete</mat-icon>
        </button>
        <!-- <button mat-icon-button matSuffix (click)="deleteTodo(todo)"> -->
          <!-- {{ todo.task }} -->
          <!-- {{ todo.title }}
          <mat-icon>delete</mat-icon>
        </button> -->
      </mat-list-item>
    </mat-list>
  </div>
</div>
  </mat-card-content>
</mat-card>

