<div class="header">
<mat-toolbar color="black" class="mat-elevation-z6">
    <span routerLink="home">
    <img src="../assets/pomodoro_original.png" alt = "Image not found" width="32px">
    </span>
    <div></div>
    <span> Pomodoro Planner </span>

    <div class="spacer"></div>

    <a mat-button routerLink="session"> Session </a>
    <!-- <a mat-button routerLink="about-us"> About Us </a> -->
    <!-- <a mat-button routerLink="timer"> Timer </a> -->
    <a mat-raised-button color = "accent" (click)="openDialog()"> Login </a>
    <!-- <a mat-raised-button color = "primary" routerLink="login"> Signup </a> -->
    <button mat-icon-button color="primary">
      <mat-icon>settings</mat-icon>
    </button>

  </mat-toolbar>
</div>
