<!-- 
  <div style="display: flex; justify-content: center; text-align: center;">
    <div fxFlex="90%" style="padding: 30px;">
  <mat-card >
    <mat-card-content>

  <div class="row text-center">
    
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    Previous
                </div>
                <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                    Today
                </div>
                <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    Next
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
          </div>
     

        <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>
    </div>
</div>

</div>

<div [ngSwitch]="view">

    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate">
    </mwl-calendar-day-view>

</div>
  
</mat-card-content>
</mat-card>
</div>
</div>
 -->

<!-- <mat-form-field>
    <input matInput type="text" placeholder="Event name" [(ngModel)]="newEvent">
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="datePicker" placeholder="Date" [(ngModel)]="newEventDate">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput type="text" placeholder="Start time" [(ngModel)]="newEventStartTime">
</mat-form-field>

<mat-form-field>
    <input matInput type="text" placeholder="End time" [(ngModel)]="newEventEndTime">
</mat-form-field>

<mat-form-field>
    <input matInput type="number" placeholder="Repeat" [(ngModel)]="newEventRepeat">
</mat-form-field>

<button mat-raised-button color="primary" (click)="addEvents(newEvent, newEventDate, newEventStartTime, newEventEndTime, newEventRepeat)">Add</button>

<mat-card>
    <mat-card-content>
        <div class="row text-center">
    
            <div class="col-md-4">
                <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                        Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                        Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                        Next
                    </div>
                </div>
            </div>
    
            <div class="col-md-4">
                <h2>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
              </div>
         
    
            <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Month
                </div>
                <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Week
                </div>
        </div>
    </div>
    </div>
      <div class="calendar-container">
        <mwl-calendar-month-view [viewDate]="viewDate" [event]="events"></mwl-calendar-month-view>
      </div>
    </mat-card-content>
  </mat-card>

   -->


   <!-- <mwl-calendar-month-view [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view> -->



<!-- <form (ngSubmit)="addEvent()">
    <input [(ngModel)]="title" name="title" placeholder="Title" required>
    <input [(ngModel)]="start" name="start" placeholder="Start Date" required>
    <input [(ngModel)]="end" name="end" placeholder="End Date">
    <input [(ngModel)]="color" name="color" placeholder="Color">
    <button type="submit">Add Event</button>
</form> -->

<mat-form-field>
    <input matInput type="text" placeholder="Description" [(ngModel)]="title">
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="start">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="end">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>  


  <!-- <mat-form-field>
    <mat-select placeholder="Color" [(ngModel)]="color">
      <mat-option *ngFor="let colorOption of colorOptions" [value]="colorOption.value" [style.background-color]="colorOption.value"></mat-option>
    </mat-select>
  </mat-form-field>    -->

<button mat-raised-button color="primary" (click)="addEvent()">Add</button>

<mwl-calendar-month-view [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>


  