<!-- <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateChange()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="startAt"></mat-datepicker>
  </mat-form-field> -->

  <div style="display: flex; justify-content: center; text-align: center;">
    <div fxFlex="90%" style="padding: 15px;">
  <mat-card >
    <mat-card-content>

  <div class="row text-center">
    <div class="col-md-4">
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>

    </div>

    <div class="col-md-4">
    <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
            Month
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
            Week
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
            Day
        </div>
    </div>
</div>

</div>

<div [ngSwitch]="view">

    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate">
    </mwl-calendar-day-view>

</div>
  
</mat-card-content>
</mat-card>
</div>
</div>

  <!-- <mwl-calendar-month-view [viewDate]="viewDate">
</mwl-calendar-month-view> -->

<!-- <mwl-calendar-week-view [viewDate]="viewDate">
</mwl-calendar-week-view>

<mwl-calendar-day-view [viewDate]="viewDate">
</mwl-calendar-day-view> -->